
.navbar{
    width: 100vw;
    height: 100px; 
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233142;
    box-sizing: border-box;
}

.header-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cart-button{
    width: 80px;
    height: 50px;
    margin-left: 20px;
    border-radius:10px ;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: large;
    background-color: rgba(255, 0, 0, 0.804);
}

#cart-button:hover{
    color: #f95959;

}
.nav-buttons{
    height: 30px;
    padding: 5px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #455d7a;
    cursor: pointer;

}
#bag-icon{
    margin-right: 10px;
    font-size: xx-large;
}

.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;       
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }