.form-control{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */

}
.form-input{
    width: 95%;
    min-width: 200px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0px;
}
.form-error{
    color: red;
}
.form-content{
    width: 100%;

    /* box-sizing: border-box; */
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
}
.form-content h4{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.form-content h4 i{
    cursor: pointer;
    color: grey;
}
.form-border{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px dashed grey;
}
.button{
    width: 50%;
    height: 40px;
    background-color: #407BFF;
    border: 0px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    max-width: 500px;
    float: right;
    margin: 5px;
}
.form-buttons{
    width: 100%;
    display: flex;
    
}
.add-button{
    font-size: x-large;
    text-align: end;
    color: grey;
    margin: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 1420px) {
    .form-section{
        flex-direction: column;
    }
    .form-control{
        /* margin: 20px; */
        width: 100%;
    }
    .form-buttons{
        width: 100%;
        /* display: flex; */
        
    }
    }